Client/Service References/WCFService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="WCFServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="netTcpEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <msf:Streamed xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
        </msf:Streamed>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWCFServices_AddTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTicket" />
  </wsdl:message>
  <wsdl:message name="IWCFServices_AddTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTicketResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFServices_BuyTickets_InputMessage">
    <wsdl:part name="parameters" element="tns:BuyTickets" />
  </wsdl:message>
  <wsdl:message name="IWCFServices_BuyTickets_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuyTicketsResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFServices_GetRemainingNum_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRemainingNum" />
  </wsdl:message>
  <wsdl:message name="IWCFServices_GetRemainingNum_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRemainingNumResponse" />
  </wsdl:message>
  <wsdl:portType name="IWCFServices">
    <wsdl:operation name="AddTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFServices/AddTicket" message="tns:IWCFServices_AddTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFServices/AddTicketResponse" message="tns:IWCFServices_AddTicket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuyTickets">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFServices/BuyTickets" message="tns:IWCFServices_BuyTickets_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFServices/BuyTicketsResponse" message="tns:IWCFServices_BuyTickets_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRemainingNum">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFServices/GetRemainingNum" message="tns:IWCFServices_GetRemainingNum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFServices/GetRemainingNumResponse" message="tns:IWCFServices_GetRemainingNum_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="netTcpEndpoint" type="tns:IWCFServices">
    <wsp:PolicyReference URI="#netTcpEndpoint_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="AddTicket">
      <soap12:operation soapAction="http://tempuri.org/IWCFServices/AddTicket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuyTickets">
      <soap12:operation soapAction="http://tempuri.org/IWCFServices/BuyTickets" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRemainingNum">
      <soap12:operation soapAction="http://tempuri.org/IWCFServices/GetRemainingNum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCFServices">
    <wsdl:port name="netTcpEndpoint" binding="tns:netTcpEndpoint">
      <soap12:address location="net.tcp://192.168.1.115:8200/Test" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://192.168.1.115:8200/Test</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>cake-PC\cake</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>